<!DOCTYPE html>
<html>
<head data-th-replace="~{head :: head(titre='Liste de maisons')}">
</head>
<body>
	<header data-th-replace="~{header :: header()}"></header>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card mt-5">
					<div class="card-body">
						<h2 class="card-title text-center">Connexion</h2>
						<form data-th-action="@{/connexion}" method="post">
							<input type="hidden" data-th-name="${_csrf.parameterName}"
								data-th-value="${_csrf.token}">
							<div class="mb-3">
								<label for="username" class="form-label">Identifiant</label> <input
									type="text" class="form-control" id="username" name="username"
									required placeholder="aze ou john">
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">Mot de passe</label> <input
									type="password" class="form-control" id="password"
									name="password" required placeholder="aze ou john">
							</div>
							<div class="d-grid gap-2">
								<button type="submit" class="btn btn-primary">Se
									connecter</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>