<!DOCTYPE html>
<html>
<head data-th-replace="~{head :: head(titre='Liste de maisons')}">
</head>
<body>
	<header data-th-replace="~{header :: header()}"></header>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card">
					<div class="card-header">
						<h4>Profil du Joueur</h4>
					</div>
					<div class="card-body">
						<form>
							<div class="mb-3">
								<label for="player-name" class="form-label">Nom du
									joueur</label> <input type="text" class="form-control" id="player-name"
									name="playerName" th:value="${utilisateurCourant.nom}" readonly>
							</div>
							<div class="mb-3">
								<label for="email" class="form-label">Email</label> <input
									type="email" class="form-control" id="email" name="email"
									th:value="${utilisateurCourant.email}" readonly>
							</div>
							<div class="mb-3">
								<label for="niveau" class="form-label">Niveau</label> <input
									type="number" class="form-control" id="niveau" name="niveau"
									th:value="${utilisateurCourant.niveau}" readonly>
							</div>
							<div class="mb-3">
								<label for="sorcier" class="form-label">Sorcier</label> <input
									type="text" class="form-control" id="sorcier" name="sorcier"
									th:value="${sorcierCourant}" readonly>
							</div>
							<div
								class="d-flex justify-content-between align-items-center mt-4">
								<div>
									<!-- Icône pour changer le mot de passe -->
									<button data-toggle="modal" data-target="#mdpModal"
										class="btn btn-outline-secondary" type="button"
										title="Changer le mot de passe">
										<i class="fas fa-key"></i>
									</button>
									<!-- Icône pour changer de sorcier -->
									<button class="btn btn-outline-secondary" type="button"
										data-toggle="modal" data-target="#sorcierModal"
										title="Changer de sorcier">
										<i class="fas fa-user-edit"></i>
									</button>
								</div>
								<!-- Bouton pour enregistrer le profil -->
								<button style="display: none" type="submit"
									class="btn btn-success">Enregistrer</button>
								<a href="/deconnexion" class="btn btn-primary">Deconnexion </a>
							</div>
						</form>
						<form method="POST" action="/supprimer"
							class="d-flex justify-content-end mt-5">
							<input type="hidden" data-th-name="${_csrf.parameterName}"
								data-th-value="${_csrf.token}">
							<button type="submit" class="btn btn-danger">Supprimer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="mdpModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Changer le mot de passe</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="/changerMDP" method="post"
					data-th-object="${motDePasse}">
					<input type="hidden" data-th-name="${_csrf.parameterName}"
						data-th-value="${_csrf.token}">
					<div class="modal-body">
						<input type="password" class="form-control mb-3"
							data-th-field="*{mdp}" placeholder="Nouveau mot de passe">
						<input type="password" class="form-control"
							data-th-field="*{confirme}"
							placeholder="Confirmer le nouveau mot de passe">
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Envoyer</button>
					</div>
				</form>

			</div>
		</div>
	</div>

	<!-- Modal for Sorcier Change -->
	<div class="modal fade" id="sorcierModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Changer de Sorcier</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="/changerSorcier" method="post">
					<input type="hidden" data-th-name="${_csrf.parameterName}"
						data-th-value="${_csrf.token}">
					<div class="modal-body">
						<label for="idType">Sorcier</label> <select class="form-control"
							id="idType" name="idType">
							<option data-th-each="sorcier : ${sorciersALister}"
								data-th-text="${sorcier.nom}" data-th-value=${sorcier.id}>
						</select>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>